.slider-button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0px;
    background-color: #FFF;
    font-size: 30px;
    text-align: center;
    transition: 500ms;
}

.slider-button:hover {
    box-shadow: 3px 0px 20px #ababab;
    transition: 500ms;
}
