html,
body,
#__next,
orchid-cont {
    height: 100vh;
}

.orchid-card-border {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.width-input {
    width: 10%;
}

.width-btn {
    width: 36px;
}

.bg-color-black {
    background-color: black;
}

.input-fix {
    width: 36px;
}